nav button { margin: 5px; padding: 10px; }
#progressBarContainer { width: 100%; background: #ddd; height: 20px; margin-top: 10px; }
#progressBar { height: 20px; background: green; width: 0%; }
video { display: block; margin-bottom: 10px; }